*, 
*::before, 
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --blue-color: #00adb5;
    --dark-color: #393e46;
    --darker-color: #222831;
    --white-color: #ffffff;
    --grey-color: #c4c4c4;
}

ul {
    list-style: none;
}

button,
input {
    font-family: 'Quicksand', sans-serif;
}

button {
    cursor: pointer;
}

body, 
html {
    min-height: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    background-image: linear-gradient(var(--darker-color), var(--dark-color));
    background-repeat: no-repeat;
    color: var(--white-color);
}

header {
    margin: 30px 20px;
}

header h1 {
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 15px;
}

header input {
    width: 100%;
    padding: 15px;
    font-size: 1em;
    font-weight: 400;
    border: none;
    border-radius: 18px;
    background-color: var(--dark-color);
    color: var(--white-color);
    transition: all 0.2s linear;
}

header input::placeholder {
    font-weight: 600;
}

header input:hover,
header input:focus {
    box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
}

main {
    display: flex;
    flex-direction: column;
}

.loading-weather {
    display: none;
    margin: 40% auto 0 auto;
    border: 6px solid var(--dark-color);
    border-radius: 50%;
    border-top: 6px solid var(--blue-color);
    width: 60px;
    height: 60px;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error-notification {
    display: none;
    flex-direction: column;
    border: 1px solid var(--dark-color);
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.error-notification img {
    width: 48px;
    height: 48px;
    margin: 0 auto;
    position: relative;
    top: -5px;
}

.error-notification h1 {
    font-size: 1.1em;
    margin-bottom: 5px;
}

.error-notification p {
    font-size: 0.9em;
    font-weight: 600;
}

.weather-data {
    display: none;
}

.weather-data-display {
    display: block;
    position: relative;
    top: -30px;
    opacity: 0;
    animation: show-data 0.4s linear forwards;
}

@keyframes show-data {
    0% {
        top: -30px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

.weather-data p {
    line-height: 22px;
}

.weather-data-header{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    border-bottom: 2px solid var(--dark-color);
    padding-bottom: 20px;
}

.weather-data-header p:first-of-type {
    font-weight: 700;
}

.local-icon img,
.tomorrow-icon img {
    width: 64px;
    height: 64px;
    margin: 15px 0 10px 0;
}

.weather-current-feels-like {
    padding: 20px;
}

.weather-min-max {
    padding: 0 20px;
}

.title-color {
    color: var(--grey-color);
}

.temperature-last-updated {
    margin-bottom: 15px;
    font-size: 0.95em;
    text-align: center;
}

.weather-min-max img,
.tomorrow-min-max img {
    width: 48px;
    height: 48px;
    position: relative;
    left: -2px;
    margin-right: 5px;
}

.minimum-temperature,
.maximum-temperature,
.tomorrow-min,
.tomorrow-max {
    display: flex;
}

.minimum-temperature,
.tomorrow-min {
    margin-bottom: 15px;
}

.minimum-temperature-info,
.maximum-temperature-info,
.tomorrow-min-info,
.tomorrow-max-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.minimum-temperature-info p:last-child,
.maximum-temperature-info p:last-child,
.tomorrow-min-info p:last-child,
.tomorrow-max-info p:last-child {
    padding-left: 1px;
}

.more-data {
    margin-top: 25px;
}

.button-show-more {
    padding: 10px 13px;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-weight: 600;
    font-size: 0.95em;
    border: none;
    border-radius: 5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.4s ease-out;
}

.button-show-more:hover {
    background-color: #008086;
}

.more-weather-data {
    display: none;
    padding: 0 20px;
}

.weather-sunrise-sunset {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.weather-sunrise-sunset img {
    width: 48px;
    height: 48px;
}

.sunrise-info,
.sunset-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sunrise-info p,
.sunset-info p {
    padding-top: 2px;
}

.weather-wind {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.weather-wind img {
    width: 48px;
    height: 48px;
    margin-right: 15px;
}

.local-air-quality {
    margin-top: 3px;
    line-height: 16px !important;
}

.weather-tomorrow {
    margin-top: 30px;
}

.tomorrow-data {
    display: flex;
}

.tomorrow-data p {
    margin-right: 10px;
}

.tomorrow-data span {
    display: flex;
    flex: 1;
}

.tomorrow-data span::after {
    content: '';
    width: 100%;
    background-color: rgb(73, 75, 80);
    height: 2px;
    position: relative;
    top: 10px;
}

.tomorrow-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 20px 0;
}

.tomorrow-average-description {
    position: relative;
    top: -5px;
}

.tomorrow-temperatures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.tomorrow-min-max {
    margin: 25px 0;
}

.buttons {
    margin: 40px 0 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-open-more-info,
.button-scroll-to-top {
    font-size: 0.9em;
    font-weight: 400;
    background-color: transparent;
    border: none;
    color: var(--white-color);
    padding: 5px;
    transition: color 0.4s ease-out;
}

.button-open-more-info:hover,
.button-open-more-info:focus,
.button-scroll-to-top:hover,
.button-scroll-to-top:focus {
    color: var(--grey-color);
    text-decoration: underline;
}


.more-info {
    display: none;
    position: fixed;
    width: 90%;
    padding: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: var(--dark-color);
    border: 3px solid var(--darker-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.more-info-apis,
.more-info-icons {
    display: flex;
    flex-direction: column;
}

.more-info-apis {
    margin-bottom: 15px;
}

.more-info-apis h1,
.more-info-icons h1 {
    font-size: 1.1em;
    margin-bottom: 4px;
}

.more-info-apis p,
.more-info-icons p {
    font-size: 0.95em;
    margin-bottom: 2px;
}

.more-info-apis p:last-of-type {
    margin-top: 5px;
}

.more-info-icons p:last-of-type {
    margin-top: 2px;
}

.more-info-apis p::before,
.more-info-icons p::before {
    content: '';
    height: 6px;
    width: 6px;
    background-color: var(--blue-color);
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px;
    position: relative;
    top: -2.7px;
}

.more-info-apis a,
.more-info-icons a {
    text-decoration: none;
    color: var(--grey-color);
}

.more-info-apis a:hover,
.more-info-icons a:hover {
    text-decoration: underline;
}

.smaller-a {
    font-size: 0.9em;
}

.more-info-apis .smaller-a:first-of-type,
.more-info-icons .smaller-a:first-of-type {
    margin-bottom: 1px;
}

.more-info-apis .smaller-a:last-of-type {
    margin-top: 1px;
}

.button-close-more-info {
    margin-top: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 12px;
    border-radius: 5px;
    border: none;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-size: 0.9em;
    transition: background-color 0.4s ease-out;
}

.button-close-more-info:hover {
    background-color: #008086;
}

/* Google search box */
.pac-container {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    border-radius: 8px;
    border-top: none;
}

.pac-container:after {
    background-image: none !important;
    height: 0px;
    padding: 0px;
    margin: 0px;
}

.pac-icon {
    display: none;
}

.pac-item {
    padding: 5px 10px;
    font-size: 0.95em;
}

.pac-item:first-of-type {
    border-top: none;
}

.pac-item:hover,
.pac-item-selected {
    background-color: var(--grey-color);
}

.pac-item-query {
    font-size: 0.95em;
    padding-right: 5px;
}

/* MEDIA QUERIES */
@media (min-width: 550px) {

    header {
        width: 500px;
        margin: 50px auto;
    }

    header h1 {
        font-size: 1.5em;
    }

    main {
        width: 500px;
        margin: 0 auto;
    }

    .loading-weather {
        margin: 50% auto 0 auto;
    }

    .error-notification {
        width: 80%;
    }

    .error-notification img {
        top: -3px;
    }

    .weather-data-header{
        width: 70%;
    }
    
    .local-icon img,
    .tomorrow-icon img {
        width: 84px;
        height: 84px;
        margin: 16px 0;
    }
    
    .weather-current-feels-like {
        padding: 30px 20px;
    }

    .temperature-last-updated {
        margin-bottom: 20px;
    }

    .weather-min-max img,
    .tomorrow-min-max img {
        width: 60px;
        height: 60px;
        left: -5px;
    }

    .minimum-temperature,
    .tomorrow-min {
        margin-bottom: 20px;
    }

    .minimum-temperature-info p:last-child,
    .maximum-temperature-info p:last-child,
    .tomorrow-min-info p:last-child,
    .tomorrow-max-info p:last-child {
        padding-left: 2px;
    }

    .more-data {
        margin: 45px 0 0 0;
    }

    .button-show-more {
        padding: 12px 18px;
        border-radius: 8px;
    }

    .weather-sunrise-sunset {
        margin-bottom: 30px;
    }
    
    .weather-sunrise-sunset img {
        width: 64px;
        height: 64px;
    }
    
    .sunrise-info p,
    .sunset-info p {
        padding-top: 3px;
    }
    
    .weather-wind {
        margin-bottom: 30px;
    }
    
    .weather-wind img {
        width: 56px;
        height: 56px;
    }

    .weather-tomorrow {
        margin-top: 35px;
    }

    .tomorrow-header {
        margin: 10px 0 20px 0;
    }
    
    .tomorrow-temperatures {
        width: 80%;
        margin: 0 auto;
    }
    
    .tomorrow-min-max {
        margin: 35px 0;
    }

    .buttons {
        margin: 30px 0 35px 0;
        justify-content: space-between;
    }
    
    .more-info {
        width: 500px;
        padding: 20px 25px;
    }
    
    .more-info-apis {
        margin-bottom: 20px;
    }
    
    .more-info-apis h1,
    .more-info-icons h1 {
        margin-bottom: 6px;
    }
    
    .more-info-apis p,
    .more-info-icons p {
        margin-bottom: 4px;
    }
    
    .more-info-apis p:last-of-type {
        margin-top: 8px;
    }
    
    .more-info-icons p:last-of-type {
        margin-top: 4px;
    }
    
    .more-info-apis p::before,
    .more-info-icons p::before {
        margin-right: 5px;
        top: -2.55px;
    }

    .more-info-apis .smaller-a:first-of-type,
    .more-info-icons .smaller-a:first-of-type {
        margin-bottom: 2px;
    }
    
    .more-info-apis .smaller-a:last-of-type {
        margin-top: 2px;
    }
    
    .button-close-more-info {
        margin-top: 20px;
        padding: 10px 16px;
    }

}

@media (min-width: 1200px) {

    header {
        margin: 70px auto 50px auto;
    }

    header h1 {
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    .buttons {
        margin: 45px 0 55px 0;
    }
    
    .more-info {
        padding: 30px;
    }
    
}